
@font-face {
    font-family: CamptonBoldDEMO;
    src: url(../fonts/Campton-BoldDEMO.woff);
}

body {
  font-family: CamptonBoldDEMO;
  color: #fff;
  line-height: 1.42857143;
  background-color: #f14182;
}

.container {
  width: 80%;
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 90px;
}

.profile h1 {
  color: #fff;
  /* font-size: 60px; */
}

.profile img {
  border-radius: 50%;
  width: 28%;
}

.links ul {
  padding-left: 0px;
}

.links ul li{
  list-style: none;
  background-color: #c03468;
  margin-bottom: 15px;
  padding: 15px 0;
  font-size: 16px;
  border-radius: 5px;
  height: auto;
}

.links ul li a {
  color: #fff;
  text-decoration: none;
}

.links ul li span.sharp {
  font-family: sans-serif;
  font-weight: bold;
}

.links ul li.ad {
  background-color: #a82d5a;
}

.links ul li span.ad {
  border: 2px solid #fff;
  padding: 6px 7px 4px;
  font-size: 10px;
  border-radius: 18px;
}

.logo {
  margin-top: 40px;
}

.logo img {
  width: 50%;
  max-width: 100px;
}
